
.page {
  background-color: white;
  height: 100%;

}

StackLayout{
	margin: 0;
}

StackLayout Label{
  color: black;
  margin: 2;
  font-size: 12;
}

StackLayout ListView {
  background-color: white;
}

