
.page {
  background-color: white;
  height: 100%;
}

StackLayout{
	margin: 2;
}
GridLayout Label{
  color: black;
  margin: 4;
  font-size: 20;
}

GridLayout Button{
  margin: 4;
  font-size: 12;
}

StackLayout Label{
  color: black;
  margin: 4;
  font-size: 20;
}

StackLayout ListView {
  background-color: white;
  height: 85%;
  font-size: 18;
}
