<ActionBar *ngIf="form" title="{{form.form_label}}" class="action-bar"></ActionBar>

<StackLayout *ngIf="myForm" class="page" [formGroup]="myForm" orientation="vertical">
<!-- https://www.nativescript.org/blog/a-deep-dive-into-telerik-ui-for-nativescripts-listview -->

    <ListView #content *ngIf="_fields" [items]="_fields" separatorColor="transparent">
    <ng-template let-item="item">
        <StackLayout orientation="vertical" class="list-group-item" style="visibility:{{item.visibility}}">

          <!-- added to replace header when adding this.page.actionBarHidden = true; to constructor -->
          <GridLayout rows="auto" columns="*,auto" >
           <Label [text]="form.form_label" class="label font-weight-bold m-b-5" style="text-align:center" textWrap="true" row="0" col="0"></Label>
          </GridLayout>

          <GridLayout rows="auto" columns="*,auto" >
           <Label [text]="item.field_label" class="label font-weight-bold m-b-5" style="text-align:left" textWrap="true" row="0" col="0"></Label>
            <!--<Button *ngIf="item.field_type == 'radio'" text="Rating help" (tap)="displayHint(item.field_name)" class="btn btn-outline btn-rounded-sm" row="0" col="1"></Button>-->
          </GridLayout>

       

          <StackLayout *ngIf="item.field_type == 'radio'" id="{{item.field_name}}" orientation="vertical">
          <StackLayout id="{{item.field_name}}" *ngFor="let item of item.select_responses" orientation="vertical" class="list-group-item-text" style="width:90%;margin: 0;padding: 2;vertical-align:middle;">
          

          <StackLayout orientation="vertical" style="padding:0;border-color:#edf0f2;border-width:0;">
          <HtmlView *ngIf="item" html="{{ item.response_label }}" textWrap="true" style="align:center;"></HtmlView>
<!--  
          <Button *ngIf="item && item.answer == item.response_value" [text]="item.response_name" id="{{item.field_name}}_{{item.response_value}}" (tap)="onSelectResponse($event)" backgroundcolor="'#30bcff'" class="btn btn-outline btn-rounded-sm" style="color:red;font-weight: bold" textWrap="true"></Button>
          <Button *ngIf="item && item.answer != item.response_value" [text]="item.response_name" id="{{item.field_name}}_{{item.response_value}}" (tap)="onSelectResponse($event)" backgroundcolor="'white'" class="btn btn-outline btn-rounded-sm" style="color:black;" textWrap="true"></Button>
-->
          <Button *ngIf="item && (platform == 'iOS')" [text]="item.response_name" id="{{item.field_name}}_{{item.response_value}}" (tap)="onSelectResponse($event)" class="btn btn-outline btn-rounded-sm" style="{{ (item.answer != item.response_value) ? 'color:black;' : 'background-color: #30bcff; color:red; font-weight: bold;'}}" textWrap="true"></Button>
          <Button *ngIf="item && (platform == 'Android')" [text]="item.response_name" id="{{item.field_name}}_{{item.response_value}}" (tap)="onSelectResponse($event)" class="btn btn-rounded-sm" style="{{ (item.answer != item.response_value) ? 'color:black;' : 'background-color: #30bcff; color:red; font-weight: bold;'}}" textWrap="true"></Button>

          
          </StackLayout>
  
          
          </StackLayout> 
          </StackLayout>  



          <GridLayout *ngIf="item.field_type == 'dropdown'" rows="auto auto" columns="* * *" class="m-2">

          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'iOS')" id="{{item.field_name}}_1" text="Yes" (tap)="onSwitch2Checked($event)" class="btn btn-outline btn-rounded-sm" style="{{ (item.answer == '1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="0"></Button>
          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'iOS')" id="{{item.field_name}}_0" text="No" (tap)="onSwitch2Checked($event)"  class="btn btn-outline btn-rounded-sm" style="{{ (item.answer == '-1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="1"></Button>
          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'iOS')" id="{{item.field_name}}_2" text="N/A" (tap)="onSwitch2Checked($event)" class="btn btn-outline btn-rounded-sm" style="{{ (item.answer == '2') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="2"></Button>

          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'Android')" id="{{item.field_name}}_1" text="Yes" (tap)="onSwitch2Checked($event)" class="btn btn-rounded-sm" style="{{ (item.answer == '1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="0"></Button>
          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'Android')" id="{{item.field_name}}_0" text="No" (tap)="onSwitch2Checked($event)"  class="btn btn-rounded-sm" style="{{ (item.answer == '-1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="1"></Button>
          <Button *ngIf="item.field_type == 'dropdown' && (platform == 'Android')" id="{{item.field_name}}_2" text="N/A" (tap)="onSwitch2Checked($event)" class="btn btn-rounded-sm" style="{{ (item.answer == '2') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="2"></Button>

          </GridLayout>

          <GridLayout *ngIf="item.field_type == 'yesno'" rows="auto auto" columns="* *" class="m-2">

          <Button *ngIf="item.field_type == 'yesno' && (platform == 'iOS')" id="{{item.field_name}}_1" text="Yes" (tap)="onSwitchChecked($event)" class="btn btn-outline btn-rounded-sm" style="{{ (item.answer == '1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="0"></Button>
          <Button *ngIf="item.field_type == 'yesno' && (platform == 'iOS')" id="{{item.field_name}}_0" text="No" (tap)="onSwitchChecked($event)" class="btn btn-outline btn-rounded-sm" style="{{ (item.answer == '-1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="1"></Button>
 
          <Button *ngIf="item.field_type == 'yesno' && (platform == 'Android')" id="{{item.field_name}}_1" text="Yes" (tap)="onSwitchChecked($event)" class="btn btn-rounded-sm" style="{{ (item.answer == '1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="0"></Button>
          <Button *ngIf="item.field_type == 'yesno' && (platform == 'Android')" id="{{item.field_name}}_0" text="No" (tap)="onSwitchChecked($event)" class="btn btn-rounded-sm" style="{{ (item.answer == '-1') ? 'background-color: #30bcff; color:red;font-weight: bold;' : 'color:black;font-weight: normal;'}}" row="0" col="1"></Button>

          </GridLayout>

        </StackLayout> 
    </ng-template>
    </ListView>
    <GridLayout rows="auto auto" columns="* *" class="m-2">
      <Button text="Previous" id="prev" class="btn btn-primary btn-forest btn-rounded-sm" (tap)="previous($Event)" row="0" col="0"></Button>
      <Button text="Next" id="next" class="btn btn-primary  btn-forest btn-rounded-sm" (tap)="submit($Event)" row="0" col="1"></Button>
    </GridLayout>
</StackLayout>