<ActionBar *ngIf="form" title="{{form.form_label}}" class="action-bar"></ActionBar>

<StackLayout *ngIf="myForm" class="page" [formGroup]="myForm" orientation="vertical">

    <ListView #content *ngIf="_fields" [items]="_fields" separatorColor="transparent">
    <ng-template let-item="item">
        <StackLayout orientation="vertical" class="list-group-item" style="visibility:{{item.visibility}};">

          <GridLayout rows="auto" columns="*,auto" > 
           <Label [text]="item.field_label" class="label font-weight-bold m-b-5" style="text-align:center;" textWrap="true" row="0" col="0"></Label>
          </GridLayout>

            <ListView *ngIf="item.field_type == 'radio'" id="{{item.field_name}}" (itemTap)="onSelectResponse($event)" itemTemplateProperty="unselect" [items]="item.select_responses" flexGrow="1"  flexShrink="1" separatorColor="transparent" style="width:90%">
              <ng-template nsTemplateKey= "unselect" let-item="item" > 
              <StackLayout id="{{item.field_name}}_{{item.response_value}}" orientation="vertical" backgroundcolor="{{ (item.answer == item.response_value) ? '#30bcff' : '#edf0f2'}}" class="list-group-item-text" style="background-color: #edf0f2;width:80%;margin: 0;padding: 0;vertical-align:middle;">
                <Label *ngIf="item" [text]="item.response_name" class="label font-weight-normal m-b-1" style="text-align:center;margin: 5;padding: 2;" textWrap="true"></Label>
              </StackLayout>
              </ng-template> 
            </ListView>


        </StackLayout> 
    </ng-template>
    </ListView>

    <GridLayout rows="auto" columns="*" class="m-2">
      <Button text="Save" id="next" class="btn btn-primary  btn-forest btn-rounded-sm" (tap)="submit($Event)" row="0" col="0"></Button>
    </GridLayout>


</StackLayout>