
.page {
  background-color: white;
  height: 100%;
}

StackLayout{
	margin: 0;
}

GridLayout Button{
  margin: 4;
  font-size: 12;
}

StackLayout Label{
  color: black;
  margin: 4;
  padding: 4;
  font-size: 16;
}

StackLayout ListView {
  background-color: transparent;
  height: 90%;
  font-size: 16;
}
