<ActionBar title="Observation Window(s)" class="action-bar"></ActionBar>

<StackLayout class="form" orientation="vertical">

  <SegmentedBar id="segDays" [items]="days" backgroundColor="white" color="blue" selectedBackgroundColor="blue"> </SegmentedBar>

    <GridLayout rows="*,*" columns="*,*" class="m-0" >
    <Label text="Start Window" class="label font-weight-bold m-b-0" style="text-align:left" row="0" col="0"></Label>
    <Label text="End Window" class="label font-weight-bold m-b-0" style="text-align:left" row="0" col="1"></Label>
    <TextField id="txtStart" hint="Start" [editable]="editState" class="input input-rounded m-t-10" row="1" col="0"></TextField>
    <TextField id="txtEnd" hint="End" [editable]="editState" class="input input-rounded m-t-10" style="text-align:left" row="1" col="1"></TextField>

    </GridLayout>

    <Button text="Update Window" (tap)="updateWindow()" class="btn btn-primary btn-lg"></Button>


    <ListView id="lstWindows" [items]="windows" class="list-group">
    	<ng-template let-window="item">

        <StackLayout orientation="vertical">
          <GridLayout rows="auto" columns="auto,*,*,auto" class="m-0">
           <Label [text]="window.day" class="label font-weight-normal m-b-10" style="color:black" textWrap="true" row="0" col="0"></Label>
           <Label [text]="window.start" class="label font-weight-normal m-b-10" style="color:black" textWrap="true" row="0" col="1"></Label>
           <Label [text]="window.end" class="label font-weight-normal m-b-10" style="color:black" textWrap="true" row="0" col="2"></Label>
           <Label text="&#xf2ed;" (tap)="deleteWindow()" class="font-awesome btn btn-rounded-sm" style="color:red;font-size:18;text-align:right" row="0" col="3"></Label>
           </GridLayout>
        </StackLayout>

      </ng-template>
    </ListView>


    <Image src="~/images/logo.png" margin="10" stretch="aspectFit"></Image>
</StackLayout>